@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  width: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'Raleway';
  src: url('../public/fonts/Raleway-Bold.ttf') format('truetype')
}

a {
  color: white
}
.raleway {
  font-family: 'Raleway';
}

.arrowbutton {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.arrowbutton {
  --hover-color: #645bff;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  text-decoration: none;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: white;
  padding: 1em 1.8em;
  background: #1a1a1a;
  display: flex;
  transition: 0.2s background;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  font-weight: bold;
}

.arrowbutton .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowbutton .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: #1a1a1a;
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.arrowbutton .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid #fff;
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.arrowbutton:hover {
  color: #1a1a1a;
  background-color: white;
}

.arrowbutton:hover .arrow {
  background: #1a1a1a;
}

.arrowbutton:hover .arrow:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid #1a1a1a;
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
  right: 0;
}

p {
  color: white
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: white
}

h1 {
  font-family: "Raleway";
  font-size: 3.2em;
  line-height: 1.1;
}

h1 {
  font-family: "Raleway";
  font-size: 2.0em;
  line-height: 1.1;
}

.menuItem {
  font-family: "Raleway";
  font-size: 2.0em;
  line-height: 1.1;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}
